.phoneModel
    display: flex
    align-items: center
    gap: 30px
    &_wrapper
        border: 1px solid black
        border-radius: 10px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        gap: 5px
        padding: 5px 0
    

    &_top
        display: flex
        align-items: center
        gap: 5px

    &_frontCamera
        border: 1px solid black
        background-color: gray
        border-radius: 50%
        width: 5px
        height: 5px

    &_speaker
        border: 1px solid black
        background: black
        border-radius: 5px
        width: 30px
        height: 5px


    &_display
        border-radius: 10px
        width: 70px 
        max-width: 100%
        height: 100px

        background: url(https://rozetked.me/images/uploads/webp/0nz0CZpxMfnY.webp)  center / contain no-repeat border-box
        background-size: cover
        // filter: blur(10px)
        // filter: contrast(70%) grayscale(40%)
        // filter: grayscale(50%)
        // filter: opacity(100%)



        &-filter
            width: 100%
            height: 100%
            
            backdrop-filter: blur(10px)
            backdrop-filter: contrast(30%)






    &_homeButton
        border: 1px solid black

        width: 30px
        height: 10px
        border-radius: 5px

    &-side
        border: 1px solid black

    &-back
        border: 1px solid black