.phoneModel
    display: flex
    align-items: center
    gap: 30px
    &_wrapper
        border: 2px solid black
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: center
        gap: 5px
        // padding: 5px 5px 15px !important
    

    &_top
        display: flex
        align-items: center
        gap: 5px
        border: 1px solid red

    &_frontCamera
        border: 1px solid black
        background-color: gray
        border-radius: 50%
        width: 5px
        height: 5px
        order: -1

    &_speaker
        border: 1px solid black
        background: black
        border-radius: 5px
        width: 30px
        height: 5px


    &_display
        border-radius: 10px
        width: 70px 
        max-width: 100%
        height: 100px
        border: 1px solid gray

        background: url(https://rozetked.me/images/uploads/webp/0nz0CZpxMfnY.webp)  center / contain no-repeat border-box
        background-size: cover


    &_homeButton
        // display: none !important
        border: 2px solid black
        // border-radius: 50%
        width: 30px
        height: 10px
        border-radius: 5px

    &-side
        border: 2px solid black

    &-back
        border: 2px solid black
        overflow: hidden