.createPhone
    &-close-block
        display: flex
        justify-content: flex-end
        width: 100%
        font-size: 25px
        font-weight: 700
    &-namePhone
        padding: 0 10px
        
        width: 100%
        height: 100vh
        background-image: url(https://i.pinimg.com/originals/7f/39/c5/7f39c5b0081c641495abe1f2a35ed70d.jpg)
        background-size: cover
        color: #fff
   

        &-block
            display: flex
            align-items: center
            justify-content: center
            height: 100%
            &-content
                display: flex
                flex-direction: column
                gap: 25px
        &-title
        &-input
            background-color: transparent
            border: none
            border-bottom: 1px solid #fff
            outline: none
            color: #fff
        &-button
            border: 2px solid #fff
            background-color: transparent
            padding: 5px 10px
            color: #fff
            font-size: 16px
            font-weight: 700