.createPhone
    display: flex
    flex-wrap: nowrap
    user-select: none

    &_main
        width: 90%
        display: flex
        justify-content: center
        align-items: center
        &_list-left
            display: flex
            align-items: center
            flex-direction: column
        &_item-left
            display: flex
            align-items: center

    
.sidebar
    user-select: none
    overflow: scroll
    width: 10%
    border-right: 1px solid black


    &_list
        display: flex
        flex-direction: column
        user-select: none
    &_item
        padding: 5px

        
    &-active
        color: #fff
        background-color:  #333 
