.createPhone
    display: grid
    grid-template-columns: 1fr 19fr
    // flex-wrap: nowrap
    user-select: none


    &_main
        display: flex
        justify-content: center
        align-items: center
        &_list-left
            display: flex
            align-items: center
            flex-direction: column
        &_item-left
            display: flex
            align-items: center
    &-content
        display: flex
        flex-direction: column
        height: 100%

        &_header
            display: flex
            justify-content: space-between
            align-items: center
            border: 1px solid black

        &_info
            display: flex
            align-items: center
            gap: 15px

        &_edit
            height: 100%
            display: flex
            align-items: center


    
.sidebar
    user-select: none
    overflow: scroll
    border-right: 1px solid black


    &_list
        display: flex
        flex-direction: column
        user-select: none
    &_item
        padding: 5px

        
    &-active
        color: #fff
        background-color:  #333 
