.header
    display: flex
    justify-content: space-between

    &_money
        background-color: #1b4e1b
        color: white
        border-radius: 0 5px 5px 0
        padding: 5px 10px
        width: 100%
    &_funs
        background-color: #441041
        color: white
        border-radius: 0 5px 5px 0
        padding: 5px 10px
        width: 70%

    &_rigth
        display: flex
        flex-direction: column
        justify-content: flex-start

    &_company
        background-color: #1b4e1b
        color: white
        border-radius: 5px 0 0 5px
        padding: 5px 10px
    &_date
        background-color: #441041
        color: white
        border-radius: 5px 0 0 5px
        padding: 5px 10px