.button-count
    // padding: 3px
    display: flex
    align-items: center
    justify-content: center
    align-content: center
    width: 20px
    height: 20px
    border-radius: 5px
    font-size: 18px
    border: 1px solid gray
    background-color: #d8d8d8
    color: black